/* Variables */

:root {
  --color-primary: #232946;
  --color-secondary: #fffffe;
  --color-tertiary: #d4d8f0;
  --section-header-bg: #232946;
  --section-header-text: #b8c1ec;
  --color-link: #0000ff;
}

/* General */

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.618rem;
}

header,
footer {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Merriweather", Georgia, serif;
  letter-spacing: 0.09rem;
}

h1 {
  font-size: 2.618rem;
}

/* Foreground and Background */

body {
  background: var(--color-tertiary);
  color: var(--color-primary);
}

header,
footer {
  background: var(--color-primary);
  color: var(--color-secondary);
}

.card {
  background: var(--color-secondary);
}

a {
  display: inline-block;
  color: var(--color-link);
  text-decoration: none;
}

/* Card */
.card {
  border-radius: 15px;
  overflow: hidden;
}
.card__title {
  background: var(--section-header-bg);
  color: var(--section-header-text);
}

.card__description {
  line-height: 1.618;
}

/* Links */
a:hover,
a:focus {
  border-bottom: 1px dotted var(--color-link);
  color: #ff0000;
}

/* White Space */
.card-container {
  padding: 0 1.6rem 1.6rem;
}

.card {
  margin-bottom: 1.6rem;
}

.card:last-of-type {
  margin-bottom: 0;
}

.card__title {
  padding: 1.6rem;
  margin-bottom: 1.6rem;
}

.card__image {
  margin-bottom: 1.6rem;
}

.card__body {
  padding: 0 1.6rem 1.6rem;
}

.card:last-of-type {
  margin-bottom: 0;
}

header {
  padding: 1.6rem;
  margin-bottom: 1.6rem;
}

footer {
  padding: 1.6rem 0;
}

h1,
a {
  margin-bottom: 1.6rem;
}

/* Layout */

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  max-width: 1440px;
}
