/* GENERAL */

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 77.5em;
}

button {
  cursor: pointer;
}
button span {
  display: block;
}

/* VARIABLES */

:root {
  --color-accent: #ff8906;
  --color-accent1: #f25f4c;
  --color-link: #1fa8cf;
  --color-link-dark: #00007a;
  --color-primary: #0f0e17;
  --color-secondary: #fffffe;
  --color-tertiary: #a7a9be;
  --dark-shadow-clear: rgba(255, 255, 255, 0.5);
  --dark-shadow: rgba(255, 255, 255, 0.2);
  --form-button: #e53170;
  --headline1: 3.815rem;
  --headline2: 3.052rem;
  --headline3: 2.441rem;
  --headline4: 1.953rem;
  --normal: 1.563rem;
  --small: 1.25rem;
}

/* TYPOGRAPHY */

html {
  font-size: 62.5%;
}

body {
  background: var(--color-primary);
  color: var(--color-secondary);
  font-family: "Montserrat", "Segoe UI", "Helvetica", sans-serif;
  font-size: var(--normal);
  letter-spacing: 1px;
  line-height: 1.7;
}

/* HEADER */

header {
  background: var(--color-tertiary);
  color: var(--color-primary);
}

/* logo */
.logo-container {
  align-items: center;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  margin-bottom: 1.6rem;
  padding-top: 1.6rem;
}

.site-name-container {
  text-align: center;
}

.header__site-name {
  margin: 0;
  font-size: var(--headline1);
}

.header__site-description {
  margin: 0;
  font-size: var(--normal);
}

/* DATE */
.date {
  background: var(--color-secondary);
  color: var(--color-primary);
  display: block;
  padding: 0.8rem;
  text-align: center;
}

/* Navigation Top */

#active-link {
  color: var(--color-accent1);
}

.navigation {
  background: var(--color-primary);
  box-shadow: 0 2px 4px 0 var(--dark-shadow);
}

.navigation--top {
  display: flex;
  justify-content: space-between;
}

.social {
  text-align: center;
}

svg {
  padding: 1.6rem;
}

.navigation--top__btn {
  background: var(--color-accent);
  border-radius: 5rem;
  border: none;
  color: var(--color-link-dark);
  font-weight: bold;
  display: none;
  font-size: small;
  padding: 1.6rem;
}

.nav-items__wrapper {
  align-items: center;
  display: flex;
  gap: 1.6rem;
}

/* Theme */
.theme {
  display: block;
  padding: 1.6rem;
}

.theme:hover {
  cursor: pointer;
}

/* Hamburger Button */
.hamburger-btn {
  background: transparent;
  border: none;
  font-size: var(--headline1);
  padding: 0 1.6rem;
  text-align: center;
  display: block;
}

.bar1,
.bar2,
.bar3 {
  background-color: var(--color-secondary);
  height: 0.4rem;
  margin: 0.8rem auto;
  transition: 0.4s;
  width: 3.2rem;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Navigation List */

.navigation__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.show-list {
  display: block;
}

.navigation__item {
  border-bottom: 1px solid var(--dark-shadow);
}

.navigation__item a {
  color: var(--color-secondary);
  display: block;
  font-weight: bold;
  padding: 1.6rem;
}

.navigation__item a:hover {
  background: var(--dark-shadow);
  color: var(--color-accent1);
}

/* FOOTER */
footer {
  background: var(--color-tertiary);
  padding: 1.6rem;
  text-align: center;
  color: var(--color-primary);
}

address {
  font-style: normal;
  margin-bottom: 0.8rem;
  text-align: left;
}

.company-details {
  border-bottom: 2px solid var(--dark-shadow-clear);
}

.base-footer {
  margin-top: 1.6rem;
}

.map {
  font-weight: bold;
  color: var(--color-link-dark);
}

.date-modified a {
  color: var(--color-link-dark);
  font-weight: bold;
  text-decoration: underline;
}

/* MAIN */
main {
  padding: 3.2rem;
}

/* PLACEHOLDER STYLES */
.hero {
  position: relative;
  text-align: center;
}

.hero div {
  margin-bottom: 1.6rem;
}

.hero__title {
  color: var(--color-primary);
  /* margin-bottom: 1.6rem; */
  text-shadow: 1px 1px 1px white;
  margin: 0;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(50%);
}

.hero__button {
  background: var(--color-accent);
  border-radius: 0.8rem;
  color: var(--color-primary);
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  margin-top: 2.4rem;
}

.hero__body {
  background-position: center;
  background-size: cover;
}

.hero__button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero__title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 28.8125em) {
  .hero__title {
    font-size: var(--headline1);
  }

  .hero__button {
    font-size: var(--headline4);
  }
}

@media screen and (min-width: 34em) {
  .hero__title {
    padding-top: 2.4rem;
    padding-right: 2.4rem;
  }
}

.event,
.weather,
.news-release,
.spotlights,
.join {
  border: 1px solid var(--color-link);
  padding: 1.6rem;
  margin-bottom: 1.6rem;
}

.news__text {
  color: var(--color-tertiary);
}

.event__title {
  color: var(--color-secondary);
}

.event__time {
  color: var(--color-tertiary);
  font-weight: 700;
}

.event__text {
  color: var(--color-tertiary);
}

.card-link {
  color: var(--color-link);
  font-weight: 700;
}

.spotlight__link {
  font-weight: 700;
}

.weather__container {
  color: var(--color-tertiary);
}

.weather__container hr {
  border-color: var(--color-accent);
  margin: 2.4rem;
}
.weather__container img {
  display: block;
  margin: 0 auto;
}

.weather__container h3 {
  text-align: center;
}

.weather_temp {
  font-family: "Yusei Magic", sans-serif;
  font-size: 6.4rem;
  text-align: center;
  font-weight: bold;
}

.weather_desc {
  text-align: center;
}

.join {
  display: none;
}

.join__body {
  color: var(--color-tertiary);
}

.spotlights section:first-child {
  margin-bottom: 2.4rem;
}

.spotlights section {
  background: var(--color-secondary);
  border-radius: 1rem;
  color: var(--color-primary);
  text-align: center;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.spotlights section:last-child {
  display: none;
}

.spotlights__title {
  font-family: "Yusei Magic", sans-serif;
  font-size: var(--headline2);
}

.spotlights__contact {
  border-top: 2px solid var(--color-accent1);
  padding: 0.8rem;
}

/* DISCOVER */

table {
  border-collapse: collapse;
  margin: 0 auto 6.4rem;
}
td,
th {
  font-size: var(--small);
  border: 1px solid var(--color-secondary);
  padding: 0.8rem;
}

tbody th {
  text-align: left;
}

table tr:nth-child(even) {
  background: darkslategray;
}

figure {
  margin: 0;
  margin-bottom: 2.4rem;
  padding: 2.4rem 0;
}

picture img {
  width: 100%;
}

figcaption {
  text-align: left;
}

.figures {
  text-align: center;
}

picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}

.visitDisplay {
  background: var(--color-accent);
  color: var(--color-primary);
  padding: 0.8rem;
  font-weight: bold;
}

.visits {
  color: var(--color-primary);
  font-size: var(--headline4);
  font-weight: bold;
}

/* --- FORM PAGE --- */
.form-title {
  text-align: center;
}

.membership-choices {
  display: block;
}

.benefits {
  display: none;
}

fieldset {
  margin-bottom: 1.6rem;
  padding: 1.6rem;
}
legend {
  padding: 0 0.8rem;
}

.label__text {
  display: block;
}

input {
  margin-bottom: 1.6rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border-radius: 0.8rem;
  border: 2px solid;
  outline: none;
  padding: 1.6rem 2.4rem;
  transition: border-color 0.5s ease-out;
  width: 100%;
  max-width: 32rem;
}

input:optional {
  border-color: var(--color-tertiary);
}

input:required:valid {
  border-color: green;
}

input:required:focus:valid {
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg")
    no-repeat 95% 50% lightgreen;
  background-size: 25px;
}

input:invalid {
  border-color: red;
}

input:focus:invalid {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg")
    no-repeat 95% 50% lightsalmon;
  background-size: 25px;
}

.form__btn {
  background: var(--color-accent);
  border-radius: 1rem;
  border: none;
  color: var(--color-primary);
  font-weight: bold;
  margin-top: 2.4rem;
  margin-left: 2.4rem;
  outline: none;
  padding: 1.6rem;
  width: 83%;
  max-width: 32rem;
}

/* --- THANK YOU PAGE --- */
.thankyou-container {
  text-align: center;
}

.thankyou-title {
  font-size: 4rem;
  margin: 0;
}

.check {
  color: green;
  font-size: 8rem;
  margin: 0;
}

/* Form */

.plan-container {
  margin: 0;
  order: 2;
  padding: 1.6rem;
}

.plan-container h2 {
  text-align: center;
}

.plan {
  background: var(--color-secondary);
  color: var(--color-primary);
}

.plan header {
  padding: 0.8rem 1.6rem;
}

.plan h3 {
  margin: 0;
}

.plan ul {
  list-style-type: none;
  padding: 1.6rem;
}

.plan ul li:before {
  content: "✔";
  color: green;
  padding-right: 1.6rem;
}

/* DIRECTORY */
.view-container {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
}

.view-container img {
  display: block;
  height: 31px;
  width: 31px;
  margin: 0 auto;
}

.company-cards-container,
.company-cards {
  margin: 0.75rem;
}

.company-cards-container section {
  overflow-x: scroll;
}

.company-cards {
  background-color: var(--color-secondary);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--color-primary);
  padding: 0.5rem;
}

.grid {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.list {
  display: flex;
  flex-direction: column;
}

.list section {
  align-items: center;
  display: flex;
}

.grid section {
  flex-direction: column;
  text-align: center;
}

.grid section > * {
  margin: 0.1rem;
}

.list section {
  flex-direction: row;
  justify-content: left;
}

.list section > * {
  margin: 0 1rem;
  text-align: left;
}

.list section img {
  display: none;
}

.company-cards img {
  height: 75px;
  max-width: 100%;
}

.company-cards address {
  text-align: center;
}

.company-cards a {
  font-weight: bold;
  text-decoration: underline;
}

/* Contacts */
.contact__card {
  background: var(--color-secondary);
  border: 5px solid var(--color-tertiary);
  color: var(--color-primary);
  margin-bottom: 1.6rem;
  padding: 1.6rem;
}

.contact__card h3,
.contact__card p {
  margin: 0;
}

.contact-container {
  align-self: center;
}
