:root {
  --color-accent: #ff8906;
  --color-accent1: #f25f4c;
  --color-link: #1fa8cf;
  --color-primary: #0f0e17;
  --color-secondary: #fffffe;
  --color-tertiary: #a7a9be;
  --dark-shadow-clear: rgba(255, 255, 255, 0.5);
  --dark-shadow: rgba(255, 255, 255, 0.2);
  --headline1: 3.815rem;
  --headline2: 3.052rem;
  --headline3: 2.441rem;
  --headline4: 1.953rem;
  --normal: 1.563rem;
  --small: 1.25rem;
}

@media screen and (min-width: 60em) {
  /* Navigation */

  .hamburger-btn {
    display: none;
  }

  .navigation__item a {
    position: relative;
  }

  .navigation__item a::after {
    content: "";
    position: absolute;
    background-color: var(--color-accent1);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 1rem;
    transition: 0.3s;
  }

  .navigation__item a:hover::after {
    width: 100%;
  }

  .navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .navigation__list {
    grid-column: 1/2;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navigation__item {
    border-bottom: none;
  }

  .navigation__item a:hover {
    background: none;
  }

  .navigation--top {
    grid-column: 2/3;
    justify-content: flex-end;
  }

  .navigation--top__btn {
    margin-right: 3.2rem;
  }

  .wrapper {
    grid-template-columns: 32rem auto 1fr;
  }

  .event {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .event img {
    display: none;
  }

  .hero {
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .hero__title {
    font-size: var(--headline1);
  }

  .hero__text {
    font-size: var(--headline4);
  }

  .spotlights {
    grid-column: 3/4;
    grid-row: 1/4;
    flex-direction: column;
    justify-content: start;
  }

  .spotlights section:last-child {
    display: block;
  }

  .spotlights section img {
    width: 5rem;
  }

  .event {
    margin-bottom: 0;
  }

  .weather {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 0;
  }

  .join {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .news-release {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  /* DISCOVER */

  picture img {
    width: 50%;
    transition: transform 0.2s;
  }

  .tourist-spots img:hover {
    transform: scale(1.1);
  }

  figcaption {
    width: 50%;
    margin: 0 auto;
  }

  /* --- JOIN PAGE --- */
  .benefits {
    font-size: var(--small);
    font-style: italic;
    display: inline;
  }

  .membership-choices {
    display: flex;
    justify-content: space-between;
  }

  .form__btn:hover {
    cursor: pointer;
  }

  /* ----------------- */
  .form-cards-container {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: 1fr 1fr;
  }
}
