@media screen and (min-width: 37.5em) {
  .navigation--top__btn {
    display: block;
    margin-right: 2.4rem;
  }

  .company-details__text {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* DISCOVER */
  picture img {
    width: 80%;
  }

  figcaption {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 48em) {
  .footer__logo {
    display: flex;
    align-items: center;
  }

  .hero {
    height: 60vh;
  }

  .wrapper {
    display: grid;
    gap: 1.6rem;
    grid-template-areas:
      "hero  hero  hero  hero"
      "news  news  news  news"
      "spot  spot  spot  spot"
      "join  join  join  join"
      "event event event weather";
  }

  .hero {
    grid-area: hero;
  }

  .text-size::after {
    content: "MEDIUM";
  }

  .event {
    grid-area: event;
  }

  .weather {
    grid-area: weather;
  }

  .news-release {
    grid-area: news;
  }

  .spotlights {
    grid-area: spot;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
  }

  .spotlights section:first-child {
    margin-bottom: 0;
  }

  .join {
    display: block;
    grid-area: join;
  }

  /* ---THANK YOU PAGE--- */
  .thankyou-title {
    font-size: 8rem;
  }

  /* DIRECTORY */
  .list section img {
    display: block;
  }
}
